<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/add.css"/>
    <style>

    </style>
</head>
<body>
<h1><%= title %></h1>
<ul>
    <li>
        <label for="studentname">姓名</label>
        <input type="text" name="studentname" id="studentname">
        <span id="nameError" class="error">姓名不能为空</span>
    </li>
    <li>
        <label for="studentid">学号</label>
        <input type="text" name="studentid" id="studentid">
        <span id="idError" class="error">学号不能为空</span>
    </li>
    <li>
        <label for="nation">名族</label>
        <input type="text" name="nation" id="nation">
    </li>
    <li>
        <label for="klass">班级</label>
        <input type="text" name="klass" id="klass">
    </li>
    <li>
        <label for="math">数学</label>
        <input type="text" name="math" id="math">
    </li>
    <li>
        <label for="english">英语</label>
        <input type="text" name="english" id="english">
    </li>
    <li>
        <label for="computer">计算机</label>
        <input type="text" name="computer" id="computer">
    </li>
    <span id="isNaNError" class="error">成绩必须为数字</span>
</ul>
<button id="submit">提交</button>
<a href="/">返回</a>
</body>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/add.js"></script>
</html>